*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html, body{
	height: 100%;

}

/*divs guias gerais*/
.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
/*cabeçalho*/
header{
	background-image: url("../imagens/banner13.bmp");
	width: 100%;
	height: 90vh;
	padding: 40px 2%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-container{
	width: 100%;
	height: 90vh;
	display: grid;
	grid-template-columns: 160px auto auto;
	grid-template-rows: 72px auto auto;
	grid-template-areas:
	"logo . li"
	". . chamada1";
}
.logo{
	background-image: url("../imagens/logo1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
	width: 100%;
	height: 100%;
	grid-area: logo;
}
.desktop-menu, ul, li{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	grid-area: li;
}
header .desktop-menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.mobile-menu{
	display: none;
}
.menu-hamburguer{
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	background-image: url(../imagens/menu.png);
	cursor: pointer;
	position: relative;
	left: 510px;
}
.menu-hamburguer:hover + .lista-mobile{
	display: block;
	opacity: 1;
}
.lista-mobile{
	display: block;
	opacity: 0;
	transition: 1s;
	width: calc(100% - 10px);
	height: 160px;
	position: absolute;
	left: 0;
	top: 70px;
	border: 1px solid black;
	color: white;
	background-color: #503864;
}
.lista-mobile:hover{
	display: block;
	opacity: 1;
}
.lista-mobile li:hover{
	background-color: #83609c;
}
.lista-mobile li{
	border: 1px solid black;
	width: 100%;
	padding-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0;
	margin-top: 0px;
}
.mobile-menu .lista-mobile li a{
	color: white;
	text-decoration: none;
}
.header-container article.chamada1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-area: chamada1;
}
article.chamada1 h2{
	margin-top: 20px;
	font-size: 43px;
	color: white;
}
article.chamada1 p{
	align-self: flex-end;
	margin-right: 30px;
	font-size: 16px;
	color: white;
	max-width: 600px;
}

/*sessão1*/
section.sessao1{
	width: 100%;
	background-color: #503864;
	padding: 20px 2%;
	height: 350px;
	display: flex;
}
.grid{
display: flex;
}
.texto-sessao1{
	width: 70%;
	height: calc(100% - 20px);
	position: relative;
	left: 100px;
	top: 30px;
}
.texto-sessao1 h2{
	margin-left: 10px;
	font-size: 25px;
	font-weight: normal;
	color: white;
	text-align: justify;
}
.texto-sessao1 p{
	position: relative;
	left: 10px;
	font-size: 18px;
	color: white;
	text-align: justify;
}
.lista2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 15px;
	color: white;
	position: relative;
	max-width:460px;
}
.btn1{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 44px;
	text-align: center;
	border-radius: 15px;
	cursor: pointer;
	border-bottom:5px solid #Fa8950;
}
.btn1:hover{
	background-color: #f85e26;
}
.device{
	background-image: url(../imagens/device.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 50%;
	height: 420px;
	position: relative;
	bottom: 90px;
	right: 80px;
}

/*inicio da parte inferior*/
.sessao2{
	padding-top:30px 2%;
	background-color: white;
	text-align: center;
	margin-top: 20px;
}
.inferior-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sessao2 h2{
	color: #472663;
	font-weight: 300;
}
.sessao2 p{
	margin-top: 20px;
	max-width: 600px;
}
.sessao2 img{
	width: 100%;
	height: 65vh;
	max-width: 800px;
	padding: 0 2%;
	position: relative;
	top: 20px;
	z-index: 2;
}
/*sessao3*/
section.sessao3{
	display: flex;
	height: 40vh;
}
.parte1{
	width: 50%;
	height: 65vh;
	background-color: #835FA7;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 80px 0 90px 0;
	position: relative;
	bottom: 140px;
	z-index: 1;
}
.parte1 h2{
	align-self: center;
	font-weight: 300;
	margin-right: 145px;
	color: white;
	margin-top: 110px;
}
.parte1 p{
	max-width: 70%;
	color: white;
	line-height: 40px;
}
.parte2{
	width: 50%;
	height: 65vh;
	position: relative;
	bottom: 140px;
}
.sobre{
	max-width: 70%;
	margin-top: 197px;
	line-height: 30px;
	max-height: 29vh;
}
.titulo{
	margin-left: 10px;
	display: grid;
	grid-template-areas:
	"nome imagem"
	"funcao  imagem";
}
.titulo h2{
	color: #232323;
	font-weight: 400;
	grid-area: nome;
}
.titulo > p{
	font-style: italic;
	font-size: 14px;
	color: #232323;
	text-decoration: underline;
	grid-area: funcao;
}
.titulo .imagem{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	grid-area: imagem;
	background-color: blue;
}
.texto p{
	color: #232323;
	position: relative;
	bottom: 10px;
	line-height: 40px;
	margin-left: 10px;
	margin-top: 10px;
}
.slide-bullets{
	display: flex;
	margin-left: 12px;
	margin-bottom: 10px;
}
.slide-bullets > div{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #ccc;
	margin-right: 5px;
	cursor: pointer;
}
.slide-bullets > div:first-child{
	background-color: black;
}

/*sessao4*/

section.sessao4{
	background-color: #472663;
	padding: 100px 0;
	margin-top: 16px;

}
.container4{
	display: grid;
	grid-template-columns: auto auto;
}
.form{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}
.form h2{
	font-size: 23px;
	font-weight: 300;
	margin-left: 10px;
	padding-left: 10px;
}
.form p{
	padding-left: 10px;
	margin-left: 10px;
	font-size: 15px;
	font-weight: 300;
	max-width: 400px;
}
.form form{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding-left: 10px;
}
.form form input[type=text]{
	width: 100%;
	max-width: 420px;
	margin-top: 5px;
	height: 45px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid rgb(200, 200, 200);
}
.form form textarea{
	width: 100%;
	max-width: 420px;
	margin-top: 5px;
	padding: 15px;
	border: 1px solid rgb(200, 200, 200);
	height: 130px;
}
.form form input[type=submit]{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	margin-top: 15px;
	border-radius: 15px;
	cursor: pointer;
	border: none;
	border-bottom: 5px solid  #Fa8950;
}
.map-wraper{
	color: white;
	padding-right: 10px;
}
.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
}
.map{
	width: 100%;
	max-width: 420px;
	height: 420px;
	background-color: white;
	border: 5px solid rgb(200, 200, 200);
}







