*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html, body{
	height: 100%;

}

/*divs guias gerais*/
.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
header{
	background-image: url("../imagens/banner13.bmp");
	width: 100%;
	height: 90vh;
	padding: 40px 2%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-container{
	width: 100%;
	height: 90vh;
	display: grid;
	grid-template-columns: 160px auto auto;
	grid-template-rows: 72px auto auto;
	grid-template-areas:
	"logo . li"
	". . chamada1";
}
.logo{
	background-image: url("../imagens/logo1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
	width: 100%;
	height: 100%;
	grid-area: logo;
}
.desktop-menu, ul, li{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	grid-area: li;
}
header .desktop-menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.mobile-menu{
	display: none;
}
.menu-hamburguer{
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	background-image: url(../imagens/menu.png);
	cursor: pointer;
	position: relative;
	left: 510px;
}
.menu-hamburguer:hover + .lista-mobile{
	display: block;
	opacity: 1;
}
.lista-mobile{
	display: block;
	opacity: 0;
	transition: 1s;
	width: calc(100% - 10px);
	height: 160px;
	position: absolute;
	left: 0;
	top: 70px;
	border: 1px solid black;
	color: white;
	background-color: #503864;
}
.lista-mobile:hover{
	display: block;
	opacity: 1;
}
.lista-mobile li:hover{
	background-color: #83609c;
}
.lista-mobile li{
	border: 1px solid black;
	width: 100%;
	padding-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0;
	margin-top: 0px;
}
.mobile-menu .lista-mobile li a{
	color: white;
	text-decoration: none;
}
.header-container article.chamada1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-area: chamada1;
}
article.chamada1 h2{
	margin-top: 20px;
	font-size: 43px;
	color: white;
}
article.chamada1 p{
	align-self: flex-end;
	margin-right: 30px;
	font-size: 16px;
	color: white;
	max-width: 600px;
}

/*sessão1*/
section.sessao1{
	width: 100%;
	background-color: #503864;
	padding: 20px 2%;
	height: 350px;
	display: flex;

}
.grid{
display: flex;
}
.texto-sessao1{
	width: 70%;
	height: calc(100% - 20px);
	position: relative;
	left: 100px;
	top: 30px;
}
.texto-sessao1 h2{
	margin-left: 10px;
	font-size: 25px;
	font-weight: normal;
	color: white;
	text-align: justify;
}
.texto-sessao1 p{
	position: relative;
	left: 10px;
	font-size: 18px;
	color: white;
	text-align: justify;
}
.lista2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 15px;
	color: white;
	position: relative;
	max-width:460px;
}
.btn1{
background-color: #FF703D;
width: 165px;
height: 44px;
color: white;
margin-top: 10px;
margin-left: 10px;
line-height: 44px;
text-align: center;
border-radius: 15px;
cursor: pointer;
border-bottom:5px solid #Fa8950;
}
.btn1:hover{
background-color: #f85e26;
}
.device{
	background-image: url(../imagens/device.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 50%;
	height: 420px;
	position: relative;
	bottom: 90px;
	right: 80px;
}

/*Responsivo*/

@media screen and (max-width: 900px){
	.device{
		display: none;
	}
	.texto-sessao1{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 768px){
	.container{
		width: 100%;
		max-width: 768px;
		margin: 0 auto;
	}

	.mobile-menu{
		display: flex;
	}
	.desktop-menu{
		display: none;
	}
}